@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<address>
    Two Hundred and Thirty-Six<br />
    Wonka Way<br />
    Nowhere, Wy 70692<br />
    <label>Fax</label>
    907-999-&#$!
</address>



