body {

}


.nav-tabs {
    display: inline-block;
 
}

.product-image {
    width: 200px;
    height: 150px;
}

.products-description{

    
}


td {
    padding:3vw;
}

.users-display{
    display: flex;
    flex-direction: column;
}